#nav
{
    background-color: white;
    position: relative;
    top: -8px;
    left: -7px;
    width: 1534px;
    height: 60px;
}

#tall
{
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top: 63px;
    left: 500px;
    height: 264px;
    width: 504px;
    padding-left: 15px;
    text-align: left;
}

input
{
    height: 38px;
    width: 201px;
    border-radius: 6px;
    border: 1px solid gainsboro;
    text-align: left;
    padding-left: 7px;
}

#new
{
    position: absolute;
    top: 8px;
    left: 886px;
}

#hip
{
    position: absolute;
    top: 223px;
    left: 373px;

}

